body {
	font-family: Courier, monospace;
	font-size: 1.5rem;
}

textarea, output {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 5rem;
	border: 1px solid #ccc;
	font-size: inherit;
}

fieldset {
	border: none;
	margin-bottom: 1rem;
}

output[data-error] {
	color: red;
}